{% extends "_layout.html" %}
{% set active_page = "Home" %}
{% block title %}
Luke Olson @ Illinois
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row h-100">
      <div class="col-md-8">
        <ul class="list-unstyled">
        <li>Luke Olson</li>
        <li>Professor, <a href="http://cs.illinois.edu/">Department of Computer Science</a></li>
        <li>Director, <a href="http://cse.illinois.edu/">Computational Science and Engineering</a></li>
        <li><a href="http://illinois.edu/">University of Illinois at Urbana-Champaign</a></li>
        <li>&nbsp;</li>
        </ul>
        <ul class="fa-ul">
        <li><i class="fa-li fa fa-envelope"></i>lukeo <i class="fa fa-at"></i> illinois.edu</li>
        <li><i class="fa-li fa fa-thumbs-up"></i>4324 Siebel Center</li>
        <li><i class="fa-li fa fa-phone"></i>217-244-8422 (x4-8422)</li>
        <li><i class="fa-li fa fa-university"></i><p>Siebel Center for Computer Science<br/>
                  University of Illinois at Urbana-Champaign<br/>
                  201 N. Goodwin Ave.<br/>
                  Urbana , IL 61801<br/>
                  USA<br/></p></li>
        </ul>
      </div>
      <div class="col-md-4 my-auto mx-auto">
        <div class="card">
          <img src="./images/luke-olson.jpeg" class="rounded card-img-top" alt="index image">
        </div>
      </div>
    </div> <div class="row"> <div class="col-md-12">
        <div class="topline"></div>
        <h4 class="text-muted">Quick Info</h4>
      </div>
      <div class="col-md-8">
        <p>
        I am in the <a href="http://scicomp.cs.illinois.edu/">Scientific Computing Group</a>
        in the <a href="http://cs.illinois.edu/">Department of Computer Science</a>.
        Learn more about my <b>research</b> in sparse matrix computations, finite elements, and high performance computing
           <a href="research.html">HERE</a>.
        </p>
        <p>Current course that I am <b>teaching</b> is
        </p>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-archive"></i><a href="https://relate.cs.illinois.edu/course/cs450-f19/">Fall 2019: CS450: Numerical Analysis</a></li>
            </ul>
        <p>
        I'm currently involved with the following <b>activities</b>; contact me if you want to know more!
        </p>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-users"></i>Co-chair,
                    <a href="http://www.siam.org/meetings/cse19/">SIAM Conference on Computational Science and Engineering</a>, 2019</li>
                <li><i class="fa-li fa fa-users"></i>Co-Chair,
                    <a href="http://grandmaster.colorado.edu/~copper/2019">Nineteenth Copper Mountain Conference on Multigrid Methods</a>, 2019</li>
                <li><i class="fa-li fa fa-users"></i>
                    <a href="http://cse.illinois.edu">Computational Science and Engineering (CSE) program at Illinois</a></li>
            </ul>
      </div>
      <div class="col-md-4">
        <div class="card bg-light">
        <ul class="list-group fa-ul sidelist" style="margin-left: 0px;">
          <li><i class="fa-il fa fa-th"></i>
            <a href="http://xpacc.illinois.edu/">XPACC</a>: Center for Exascale Simulation of Plasma-Coupled Combustion</li>
          <li><img src="images/pyamg-logo.png" width=40px>
            <a href="https://github.com/pyamg/pyamg">PyAMG</a>: Algebraic multigrid solvers in Python.</li>
          <li><img src="images/raptor-logo.png" width=40px>
            <a href="https://github.com/lukeolson/raptor">Raptor</a>: Parallel algebraic multigrid.</li>
          <li><i class="fa-il fab fa-github"></i>
            <a href="https://github.com/cusplibrary/cusplibrary">CUSP</a>: A C++ Templated Sparse Matrix Library</li>
          <li><i class="fa-il fab fa-github"></i>
            <a href="https://github.com/lukeolson">Github</a></li>
          <li><i class="fa-il fab fa-bitbucket"></i>
            <a href="https://bitbucket.org/lukeolson">BitBucket</a></li>
        </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="topline"></div>
        <h4 class="text-muted">About</h4>
        <p>
        Background:
        </p>
        <ul class="square">
          <li>Professor, <a href="https://cs.illinois.edu/">Deptartment of Computer Science</a>, Univ. of Illinois at Urbana-Champaign, (Full 2016-present; Associate; 2011-2016; Assistant 2005-21011)
          </li>
          <li>Visiting Assistant Professor/NSF VIGRE Postdoctoral Fellow, <a href="https://www.brown.edu/academics/applied-mathematics/">Division of Applied Mathematics</a>, Brown University, 2003-2005</li>
        </ul>
        <p>
        Education:
        </p>
        <ul>
          <li>PhD (2003), <a href="https://www.colorado.edu/amath/">Applied Mathematics</a>, University of Colorado at Boulder
            <ul>
              <li>Thesis: <em>Multilevel Least-Squares Finite Element Methods for Hyperbolic PDEs</em></li>
            </ul>
          </li>
          <li>MS (1999), <a href="https://math.uiowa.edu/">Mathematics</a> (Applied), University of Iowa</li>
          <li>BA (1997), <a href="https://www.luther.edu/mathematics/">Mathematics</a> and Physics, Luther College</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
