{% set navbar = [
    ('index.html',    'Home'),
    ('research.html', 'Research'),
    ('teaching.html', 'Teaching')
] -%}
{% set active_page = active_page|default('Home') -%}

<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58391309-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-58391309-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Luke Olson, Computer Science, University of Illinois at Urbana-Champaign">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Luke Olson">
    <link rel="icon" href="./images/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="css/luke.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav class="navbar">
          <div class="container">
          <h3 class="navbar-brand text-muted">Luke Olson</h3>
          <ul class="nav nav-pills justify-content-end">
            {% for href, id in navbar %}
            <li class="nav-item">
            <a {% if id == active_page %}class="nav-link active"
               {% else %}class="nav-link"
               {% endif %}href="{{ href|e }}">{{ id|e }}
               {% if id == active_page %}<span class="sr-only">(current)</span>{% endif %}
            </a>
            </li>
            {% endfor %}
          </ul>
          </div>
        </nav>
      </div>
    </div>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    {% block extra_scripts %}
    {% endblock %}

  </body>
</html>
