{% extends "_layout.html" %}
{% set active_page = "Research" %}
{% block title %}
Luke Olson @ Illinois - Research
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-muted">Summary </h4>
        <div class="row">
          <div class="col-md-6">
            Research Focus:
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-cogs"></i>Multigrid methods</li>
              <li><i class="fa-li fa fa-cogs"></i>Sparse matrix computations</li>
              <li><i class="fa-li fa fa-cogs"></i>Finite element methods</li>
              <li><i class="fa-li fa fa-cogs"></i>High performance computing</li>
              <li><i class="fa-li fa fa-cogs"></i>Scalable solvers on GPUs, large-scale systems</li>
            </ul>
          </div>
          <div class="col-md-6">
            Jump to:
            <div class="list-group">
              <a href="research.html#students" class="list-group-item">Students</a>
              <a href="research.html#publications" class="list-group-item">Publications</a>
              <a href="research.html#images" class="list-group-item">Research images</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="topline"></div>
        <h4 class="text-muted" id="students">Group</h4>
      </div>
    </div>

    {% set rows = 2 %}
    {% set cols = 3 %}
    {% for i in range(rows) %}
        <div class="row resimg">
          <div class="col-md-12">
            <div class="card-deck">
      {% for j in range(cols) %}
        {% set k = i*cols + j %}
        {% if k < currentstudents|length %}
          {% set s = currentstudents[k] %}
            <div class="card">
              {% if 'image' in s %}
              <img src="images/{{s['image']}}" alt="{{s['name']}}" class="card-img-top rounded">
              {% else %}
              <img src="images/headshot.png" alt="{{s['name']}}" class="card-img-top rounded">
              {% endif %}

              <div class="card-body">
                <h6 class="card-title">
                  {% if 'url' in s %}
                  <a href="{{s['url']}}">{{s['name']}}<i class="fa fa-external-link" style="padding-left: 5px;"></i></a>
                  {% else %}
                    {{s['name']}}
                  {% endif %}
                </h6>
                {% if s['category'] == 'postdoc' %}
                  postdoc
                  <br/>
                {% endif %}

                <small>
                  {{ s['blurb'] }}
                </small>
              </div>
            </div>
        {% else %}
            <div class="card" style="border: none;">
            </div>
        {% endif %}
      {% endfor %}
            </div>
          </div>
        </div>
    {% endfor %}

    <div class="row">
      <div class="col-md-12">
        <div class="topline"></div>
        <h4 class="text-muted" id="formerPhD">Former PhD Students</h4>
        <ul class="fa-ul">
        {% for s in students if s['category'] == 'former' and s['degree'] == 'PhD' %}
          <li>
            {% if 'url' in s %}
              <a href="{{s['url']}}">{{s['name']}}<i class="fa fa-external-link" style="padding-left: 5px;"></i></a>,
            {% else %}
              {{s["name"]}},
            {% endif %}
            {{s["degree"]}}, {{s["year"]}}
            {% if 'dept' in s %}
              ({{s["dept"]}})
            {% endif %}
            {% if 'blurb' in s or 'thesis' in s %}
              <ul>
                {% if 'thesis' in s %}
                  {% if 'thesisurl' in s %}
                  <li>Thesis: <a href="{{s['thesisurl']}}">{{s['thesis']}}<i class="fa fa-external-link" style="padding-left: 5px;"></i></a></li>
                  {% else %}
                  <li>{{s["thesis"]}}</li>
                  {% endif %}
                {% endif %}
                {% if 'blurb' in s %}
                  <li>{{s["blurb"]}}</li>
                {% endif %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
        <h4 class="text-muted" id="formerMS">Former MS Students</h4>
        <ul class="fa-ul">
        {% for s in students if s['category'] == 'former' and s['degree'] == 'MS' %}
          <li>
            {% if 'url' in s %}
              <a href="{{s['url']}}">{{s['name']}}<i class="fa fa-external-link" style="padding-left: 5px;"></i></a>,
            {% else %}
              {{s["name"]}},
            {% endif %}
            {{s["degree"]}}, {{s["year"]}}
            {% if 'dept' in s %}
              ({{s["dept"]}})
            {% endif %}
            {% if 'blurb' in s or 'thesis' in s %}
              <ul>
                {% if 'thesis' in s %}
                  {% if 'thesisurl' in s %}
                  <li>Thesis: <a href="{{s['thesisurl']}}">{{s['thesis']}}<i class="fa fa-external-link" style="padding-left: 5px;"></i></a></li>
                  {% else %}
                  <li>{{s["thesis"]}}</li>
                  {% endif %}
                {% endif %}
                {% if 'blurb' in s %}
                  <li>{{s["blurb"]}}</li>
                {% endif %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="topline"></div>
        <h4 class="text-muted" id="publications">Publications</h4>
        <ul class="fa-ul bibliography">
          {% for entry in pubs %}
            <li><a href="#{{entry['id']}}"><i id="{{entry['id']}}" class="fa-li fa fa-caret-right"></i></a>
              {{entry["html"]}}
              <br/>
              <a data-toggle="collapse" href="#collapse{{entry['id']}}" aria-expanded="false" aria-controls="collapse{{entry['id']}}">
                <i class="fa fa-toggle-on"></i>BibTeX
              </a>

              {% if 'pdf' in entry %}
                &nbsp;
                <a href="{{entry['pdf']}}"><i class="fa fa-file-pdf-o"></i>PDF</a>
              {% endif %}

              {% if 'doi' in entry %}
                &nbsp;
                <a href="http://doi.org/{{entry['doi']}}"><i class="fa fa-external-link"></i>DOI: {{entry["doi"]}}</a>
              {% endif %}

              {% if 'url' in entry %}
                &nbsp;
                <a href="{{entry['url']}}"><i class="fa fa-external-link-square"></i>URL</a>
              {% endif %}
            <div class="collapse bibtex" id="collapse{{entry['id']}}">
              <pre style="font-size: 10px;">

{{entry["bibtex"]}}
              </pre>
            </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="topline"></div>
        <h4 class="text-muted" id="images">Some Images</h4>
      </div>
    </div>


    {% for res in resimg %}

      {% if loop.first %}
        <div class="row resimg">
          <div class="col-md-12">
            <div class="card-deck">
      {% elif loop.index0 is divisibleby 3 and not loop.last %}
            </div>
          </div>
        </div>
        <div class="row resimg">
          <div class="col-md-12">
            <div class="card-deck">
      {% endif %}

            <div class="card">
              <img class="card-img-top" src="{{res['image']}}" alt="{{res['title']}}">
              <div class="card-body">
                <footer class="blockquote-footer">
                  <small>
                  {{res["title"]}}: {{res["desc"]}}
                  </small>
                </footer>
              </div>
            </div>

      {% if loop.last %}
            </div>
          </div>
        </div>
      {% endif %}

    {% endfor %}

  </div>

  {% block extra_scripts %}
    <script>
      $('.bibtex').click(function(){
        $('> .bibtex-body', this).show();
      })
    </script>
  {% endblock %}
{% endblock %}
