{% extends "_layout.html" %}
{% set active_page = "Research" %}
{% block title %}
Luke Olson @ Illinois - Research
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-muted">Summary </h4>
        <div class="row">
          <div class="col-md-6">
            Research Focus:
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-cogs"></i>Multigrid methods</li>
              <li><i class="fa-li fa fa-cogs"></i>Sparse matrix computations</li>
              <li><i class="fa-li fa fa-cogs"></i>Finite element methods</li>
              <li><i class="fa-li fa fa-cogs"></i>High performance computing</li>
              <li><i class="fa-li fa fa-cogs"></i>Scalable solvers on GPUs, large-scale systems</li>
            </ul>
          </div>
          <div class="col-md-6">
            Jump to:
            <ul class="list-group">
              <a href="research.html#students" class="list-group-item">Students</a>
              <a href="research.html#publications" class="list-group-item">Publications</a>
              <a href="research.html#images" class="list-group-item">Research images</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="topline"></div>
        <h4 class="text-muted" id="students">Students</h4>
        {% set counter = 0 %}
        {% for s in students if s['category'] == 'current' %}
          {% if counter == 0 %}
            <div class="row">
          {% elif counter % 3 == 0 %}
            </div>
            <div class="row">
          {% endif %}
          {% set counter = counter + 1 %}
          <div class="col-md-4">
            <div style="height: 150px">
              {% if 'url' in s %}
                <a href="{{s['url']}}">
                  Test
                </a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% block extra_scripts %}
    <script>
      $('.bibtex').click(function(){
        $('> .bibtex-body', this).show();
      })
    </script>
  {% endblock %}
{% endblock %}
