{% extends "_layout.html" %}
{% set active_page = "Teaching" %}
{% block title %}
Luke Olson @ Illinois - Teaching
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="h4 text-muted">Courses</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
        <caption class="sr-only">Courses taught by Luke Olson, listed by term</caption>
        <thead><tr> <th scope="col">Term</th> <th scope="col">Course</th> <th scope="col">Institution</th> </tr></thead>
        <tbody>
        {% for course in courses %}
            <tr>
            <td>{{course["year"]}}</td>
            <td>
            {% if 'url' in  course %}
              <a href="{{course['url']}}">{{course["course"]}}<span class="sr-only"> ({{course["year"]}})</span></a>
            {% else %}
              {{course["course"]}}
            {% endif %}
            </td>
            <td>
            {% if 'inst' in course %}
              ({{course["inst"]}})
            {% endif %}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

      </div>
    </div>

  </div>

  {% block extra_scripts %}
    <script>
      $('.bibtex').click(function(){
        $('> .bibtex-body', this).show();
      })
    </script>
  {% endblock %}
{% endblock %}
